<nav id="main-nav" class="navbar">
	<div class="navbar__logo-container">
		<p>Logo</p>
	</div>
	<div class="navbar__menu-toggle">
		<span class="bar-1"></span>
		<span class="bar-2"></span>
		<span class="bar-3"></span>
	</div>
	<div class="navbar__links-container">
		<ul class="navbar__links-container__links">
			<li class="navbar__links-container__links__link-item">
				<a href="#">Link 1</a>
			</li>
			<li class="navbar__links-container__links__link-item">
				<a href="#">Link 2</a>
			</li>
			<li class="navbar__links-container__links__link-item">
				<a href="#">Link 3</a>
			</li>
			<li class="navbar__links-container__links__link-item">
				<a href="#">Link 4</a>
			</li>
			<li class="navbar__links-container__links__link-item">
				<a href="#">Link 5</a>
			</li>
			<li class="navbar__links-container__links__link-item">
				<a href="#">Link 6</a>
			</li>
		</ul>
	</div>
</nav>
<nav id="main-nav-slidenav" class="slidenav slidenav--off-screen slidenav--dark">
	<ul class="slidenav__links">
		<li class="slidenav__links__link">
			<a href="#">Link 1</a>
		</li>
		<li class="slidenav__links__link">
			<a href="#">Link 2</a>
		</li>
		<li class="slidenav__links__link">
			<a href="#">Link 3</a>
		</li>
		<li class="slidenav__links__link">
			<a href="#">Link 4</a>
		</li>
		<li class="slidenav__links__link">
			<a href="#">Link 5</a>
		</li>
		<li class="slidenav__links__link">
			<a href="#">Link 6</a>
		</li>
	</ul>
</nav>
