.navbar {
	display: flex;
	flex-direction: row;
	align-items: center;
	min-height: 70px;
	flex-wrap: wrap;
	position: relative;

	& > div {
		padding: 10px 25px;
	}
}

.navbar__logo-container {
	flex-grow: 0;
}

.navbar__links-container__links {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: flex-end;
	flex-wrap: wrap;

	a {
		margin-left: 25px;

		&:first-child {
			margin: 0;
		}
	}
}

.navbar__menu-toggle {
	display: none;
	width: 75px;
	position: absolute;
	top: 18px;
	right: 0;

	span {
		background-color: $black;
		margin-top: 4px;

		&:first-child {
			margin-top: 0;
		}
	}
}

.navbar--dark {
	background-color: $black;
	color: $white;

	a {
		color: $white;
	}

	.navbar__links-container {
		background-color: $black;
	}

	.navbar__menu-toggle {
		span {
			background-color: $white;
		}
	}
}

.navbar__links-container {
	flex-grow: 1;
	transition: transform 0.7s ease;
	display: block;
}

.navbar__links-container__links {
	list-style-type: none;
}

.navbar__links-container__links__link-item {
	display: inline-block;
	padding: 10px 20px;
}

.navbar__menu-toggle {
	display: none;
	cursor: pointer;

	span {
		display: block;
		height: 2px;
	}
}

.slidenav {
	height: 100vh;
	width: 100%;
	z-index: 1;
	position: absolute;
	top: 70px;
	left: 100%;
	animation: navClose 0.7s ease;

	&.slidenav--off-screen {
		visibility: hidden !important;
	}
	&.slidenav--dark {
		background-color: $black;

		.slidenav__links__link {
			border-color: $white;
		}
		a {
			color: $white;

			&:hover {
				background-color: $white;
				color: $black;
			}
		}
	}

	&.slidenav--open {
		animation: navOpen 0.7s ease;
		left: 0;
	}
}

.slidenav__links {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.slidenav__links__link {
	display: block;
	padding: 0;
	margin: 0;
	border-bottom: 1px solid $black;

	&:first-child {
		border-top: 1px solid $black;
	}

	a {
		display: block;
		width: 100%;
		padding: 25px;
		color: $black;
		transition: all 0.3s ease;

		&:hover {
			background-color: $black;
			color: $white;
		}
	}
}

@media screen and (max-width: $tabletp) {
	.navbar__links-container {
		display: none;
	}

	.navbar {
		display: block;
	}

	.navbar__logo-container {
		display: block;
		width: 100%;
		position: absolute;
		top: 18px;
		left: 0;
	}

	.navbar__menu-toggle {
		display: block;
	}
}

@keyframes navOpen {
	0% {
		transform: translateX(100%);
	}
	100% {
		transform: translateX(0);
	}
}

@keyframes navClose {
	0% {
		transform: translateX(0);
		left: 0;
	}
	100% {
		transform: translateX(100%);
		left: 100%;
	}
}
